<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
        <div class="span10"><br/>
            <table class="table table-hover">
                <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Created At</th>
                            <th>Participants</th>
                            <th>Bars</th>
                        </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < races.length; i++) { %>
                        <tr>
                            <th scope="row"><%= races[i]._id %></th>
                            <td><%= races[i].name %></td>
                            <td><%= races[i].created_at %></td>
                            <td><%= races[i].users.lenght %></td>
                            <td><%= races[i].bars.lenght %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>


    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>