<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
        <div class="span8">
            <form class="form-horizontal">
            <br/>   
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">ID</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="id" value=<%-JSON.stringify(data._id) %> class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">Created At</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="created_at" value=<%= data.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %> class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">Updated At</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="updated_at" value=<%= data.updated_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %> class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">Race name</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="name" value=<%-JSON.stringify(data.name) %> class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">Race Leader</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="raceLeader" value=<%-JSON.stringify(data.raceLeader.name) %> class="form-control input-md">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <ul class="col-md-4">
                            <% for(var i=0; i < data.bars.length; i++) { %>
                                <li class="list-group-item  clearfix"><%-JSON.stringify(data.bars[i].bar.name) %> <button type="button" class="btn btn-danger pull-right">Remove</button></li>
                            <% } %>
                        </ul>
                    </div>
                            <div class="col-md-4">
                <a href="/races/" class="btn btn-warning input-md"><span class="fa fa-user"></span>Terug</a>
            </div>
                </fieldset>
                
            </form>

        </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>