<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
        <div class="span10"><br/>
            <table class="table table-hover">
                <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Created At</th>
                            <th>Role</th>
                            <th><input type="button" class="btn btn-success" value="Add user" onclick="location.href='/users/create'" /></th>   
                        </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < users.length; i++) { %>
                        <tr>
                            <th scope="row"><%= users[i]._id %></th>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].age.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                            <td><%= users[i].created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                            <td><%= users[i].role %></td>
                            <td><a href="/users/<%= users[i]._id %>" class="btn btn-warning" ><span class="fa fa-user"></span>details</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>


    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>

