<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="jumbotron">
        <h1><span class="fa fa-lock"></span> Users</h1>
        <p>List of all users.</p>
    </div>
    <div>
        <div class="span10">
            <table class="table table-hover">
                <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created At</th>
                            <th>Role</th>
                            <th>&nbsp;</th>
                        </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                        <tr>
                            <td scope="row"><%= data[i].name %></td>
                            <td><%= data[i].created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                            <td><%= data[i].role %></td>
                            <td><a href="/users/<%= data[i]._id %>" class="btn btn-primary"><span class="fa fa-user"></span>Details</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <% for(var i=1; i <= pages; i++) { %>
                <a class="btn-group btn <% if(currentPage === i) { %>btn-primary<% } else { %>btn-default<% } %>" role="group" href="/users?page=<%= i %>"><%= i %></a>
                <% } %>
            </div>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>